<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin_apple_cn-contact-store_enumerate-contacts" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>AppleCNContactStoreEnumerateContacts</name>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="AppleCNContactStoreEnumerateContacts">
        <param name="ios-package" value="AppleCNContactStoreEnumerateContacts" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="NSContactsUsageDescription">
      <string>$CONTACTS_USAGE_DESCRIPTION</string>
    </config-file>
    <framework src="Contacts.framework" weak="true" />
    <source-file src="src/native/swift/code/AppleCNContactStoreEnumerateContacts.swift" />
  </platform>
</plugin>
